<div class="container mt-3">
    <form [formGroup]='formDispositiu'>
        <div class="mb-3">
            <label for="identificador" class="form-label">Identificador: </label>
            <input type="text" class="form-control" id="identificador" name="identificador" formControlName="id"
            [ngClass]="{
                'is-valid': idValid?.valid && idValid?.touched,
                'is-invalid': idValid?.invalid && idValid?.touched 
            }"    
            >
            <p *ngIf="idValid?.invalid && idValid?.touched" class="alert alert-danger">Minim 0</p>
        </div>
        <div class="mb-3">
            <label for="nom" class="form-label">Nom: </label>
            <input type="text" class="form-control" id="nom" name="nom" formControlName="nom"
            [ngClass]="{
                'is-valid': nomValid?.valid && nomValid?.touched,
                'is-invalid': nomValid?.invalid && nomValid?.touched 
            }"  
            >
            <p *ngIf="nomValid?.invalid && nomValid?.touched" class="alert alert-danger">Ha de tindre entre 4 i 15 caracters</p>
        </div>
        <div class="mb-3">
            <label for="consum" class="form-label">Consum: </label>
            <input type="number" class="form-control" id="consum" name="consum" formControlName="consum" 
            >
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo: </label>
            <input type="number" class="form-control" id="tipo" name="tipo" formControlName="tipo"
            [ngClass]="{
                'is-valid': tipoValid?.valid && tipoValid?.touched,
                'is-invalid': tipoValid?.invalid && tipoValid?.touched 
            }"
            >
            <p *ngIf="tipoValid?.invalid && tipoValid?.touched" class="alert alert-danger">Ha de estar entre 1 i 4</p>

        </div>
        <div class="d-flex justify-content-evenly">
            <a [routerLink]="['/dispositius']" class="card-link btn btn-primary">Llista Dispositius</a>
            <button type="submit" class="btn btn-primary" (click)="false">Enviar</button>
        </div>
    </form>
</div>